<div class="filter-options">

    <div class="filter-row">

        <mat-form-field class="filter">
          <mat-label>Term</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

        <div class="gap"></div>

        <mat-form-field class="filter">
          <mat-label>Status</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

    </div>

    <div class="filter-row">

        <mat-form-field class="filter">
          <mat-label>Gereqs</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

        <div class="gap"></div>

        <mat-form-field class="filter">
          <mat-label>Department</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

    </div>

    <div class="filter-row">

        <mat-form-field class="filter">
          <mat-label>Key Words</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="">
        </mat-form-field>

    </div>

</div>
