<div class="filter-options">

    <div class="filter-row">

        <app-filter
          class="expand"
          [courses]="courses"
          [label]="'Term'"
        ></app-filter>

        <div class="gap"></div>

        <app-filter
          class="expand"
          [courses]="courses"
          [label]="'Status'"
          [columnsToFilter]="'status'"
        ></app-filter>
    </div>

    <div class="filter-row">

        <mat-form-field class="filter expand">
          <mat-label>Gereqs</mat-label>
          <input matInput [formControl]="gereqsFilter">
        </mat-form-field>

        <div class="gap"></div>

        <mat-form-field class="filter expand">
          <mat-label>Department</mat-label>
          <input matInput [formControl]="departmentFilter">
        </mat-form-field>


        <!-- <app-filter
          class="expand"
          [courses]="courses"
          [label]="'Department'"
          [columnsToFilter]="'department'"
        ></app-filter> -->

    </div>

    <div class="filter-row">
        <app-filter
          class="expand"
          [label]="'Key Words'"
          [courses]="courses"
          [placeholder]="'Ex. literaly anything'"
        ></app-filter>
    </div>

</div>
