<div class="filter-options">

    <div class="filter-row">

        <mat-form-field class="filter expand">
          <mat-label>Name</mat-label>
          <input matInput [formControl]="nameFilter">
        </mat-form-field>

        <app-filter
          class="expand"
          [courses]="courses"
          [label]="'Term'"
        ></app-filter>

        <div class="gap"></div>

        <app-filter
          class="expand"
          [courses]="courses"
          [label]="'Status'"
          [columnsToFilter]="'status'"
        ></app-filter>
    </div>

    <div class="filter-row">

        <app-filter
        class="expand"
        [courses]="courses"
        [label]="'Gereqs'"
        [columnsToFilter]="'gereqs'"
        ></app-filter>

        <div class="gap"></div>

        <app-filter
          class="expand"
          [courses]="courses"
          [label]="'Department'"
          [columnsToFilter]="'department'"
        ></app-filter>

    </div>

    <div class="filter-row">
        <app-filter
          class="expand"
          [label]="'Key Words'"
          [courses]="courses"
          [placeholder]="'Ex. literaly anything'"
        ></app-filter>
    </div>

</div>
