/* Structure */
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.name-row {
    // max-width: 100px;
    // margin-right: 50px;
}

.gereqs-row {
    // max-width: 200px;
    margin-right: 70px;
}

.offerings-row {}