/* Structure */
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.gereqs-row {
    margin-right: 70px;
}

.course-row {
    background: blue;
}

.course-card-title {
    line-height: 50px;
}

.advanced-search {
    margin-bottom: 10px;
}

.flex {
    display: flex;
}

.gap {
    width: 50px;
}