<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table [dataSource]="courses" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let course">
      <div class="name-row">
        {{course.name}}
      </div>
    </td>
  </ng-container>

  <!-- Offerings Column -->
  <ng-container matColumnDef="offerings">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let course">
      <div class="offerings-row" *ngFor="let offering of course.offerings">
        {{ offering }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="gereqs">
    <th mat-header-cell *matHeaderCellDef> Gereqs </th>
    <td mat-cell *matCellDef="let course">
      <div class="gereqs-row" *ngFor="let gereq of course.gereqs">
        {{ gereq }}
      </div>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    (mouseenter)="onMouseEnter($event, row)"
    (mouseleave)="onMouseLeave($event)"
    >
  </tr>
</table>