<div class="home-container">
    <div class="left-column">
        <mat-card id="drop-down-selectors">
            drop down selectors
        </mat-card>
    </div>
    <div class="home">
        <div class="left-gap"></div>
        <div class="courses-table-container">
            <app-courses-table
                [courses]="courses"
                (setHoveredCourse)="setHoveredCourse($event)"
                [hoveredCourse]="hoveredCourse"
            >
            </app-courses-table>
        </div>
        <div class="right-gap"></div>
    </div>
    <div class="right-column">
        <mat-card id="prof-info"
        >
        {{ hoveredCourse.instructors }}
    </mat-card>
    <mat-card id="course-info">
        <mat-card-title>
            {{ hoveredCourse.name}} {{ hoveredCourse.number }}
        </mat-card-title>
        <br>
        <br>
        {{ hoveredCourse.prerequisites}}
        <br>
        <br>
        {{ hoveredCourse.description }}
        Course Info
    </mat-card>
    </div>
</div>

