<div class="home">

    <div class="left-column">

        <div class="filter-options-container">
            <app-filters
                [courses]="courses"
                [gereqsFilter]="gereqsFilter"
                [departmentFilter]="departmentFilter"
            ></app-filters>
        </div>

        <div class="courses-table-container">            
            <app-courses-table
                [courses]="courses"
                (setHoveredCourse)="setHoveredCourse($event)"
                [hoveredCourse]="hoveredCourse"
            ></app-courses-table>
        </div>

    </div>

    <div class="right-column">

        <div class="profs-info-container">
            <app-profs-info 
                [hoveredProfs]="hoveredProfs">
            </app-profs-info>
        </div>

        <div class="course-info-container">
            <app-course-info 
                [hoveredCourse]="hoveredCourse">
            </app-course-info>
        </div>

    </div>

</div>

