.left-column {
    width: 600px;
}

.right-column {
    position: sticky;
    height: 500px;
    top: 0;
    width: 300px;
    margin-left: 30px;
}

.profs-info-container {
    margin-bottom: 20px;
}

.course-info-container {
    min-height: 500px;
}

.home {
    margin: 30px auto 0 auto;
    display: flex;
    width: 900px;
}