.left-column {
    max-width: 600px;
    width: 100%;
}

.right-column {
    position: sticky;
    height: 500px;
    top: 0;
    width: 300px;
    margin-left: 30px;
}

.profs-info-container {
    margin-bottom: 30px;
}

.course-info-container {
    // max-height: 300px;
    // overflow: scroll;
    // min-height: 300px;
}

.home {
    margin: 30px auto 0 auto;
    display: flex;
    max-width: 900px;
    width: 100%;
}

.flex {
    display: flex;
}

.gap {
    width: 50px;
}

.filters {
    margin-bottom: 16px;
    width: 100%;
}

.search-text {
    margin-left: 8px;
}

.search-text-container {
    // font-size: 18px;
}

// .courses-table-container {
//     width: 100%;
// }

@media screen and (max-width: 400px) {
    .flex {
        display: block;
        // background: blue;    
    }
}

@media screen and (max-width: 650px) {
    .course-info-container {
        visibility: hidden;
        height: 0px;
    }

    .profs-info-container {
        visibility: hidden;
        height: 0px;
    }

    .home {
        display: block;
    }
}